
@media only screen  and (max-width : 980px) {
    /* Styles */
    .carousel-text .carousel-text-left {
        position: absolute;
        left: 10px;
        bottom: -100px;
        transform: translate(-50%, 0);
        transition: transform .2s;
        cursor: pointer;
    }
    .carousel-text .carousel-text-right {
        position: absolute;
        left: 60px;
        bottom: 0px;
        transform: translate(-50%, 0);
        transition: transform .2s;
        cursor: pointer;
    }
    .carousel-full .carousel-full-nav{
        margin-top: -46px;
    }

    #video-manifest .title{
        margin-bottom: 400px;
    }

    .carousel-text{
      position: absolute;
    }
    #searchcontainer{
        display: none;
    }
    .profile{
        position: absolute;
        top: 21px;
        right: 20px;
    }

    #consultoria{
        display: none !important;
    }
    #como-funciona{
        display: none !important;
    }

    #profileinfo{
        display: none;
    }


    header{
        position: fixed;
    }

    .carousel-text-left{
        top:80%;
    }
    .carousel-text-right{
        top:80%;
    }
    .carousel-text-nav{
        bottom:5%;
    }
    .carousel-text .carousel-text-container {
        width: 70%;
        margin-left: 15%;
    }
    .carousel-text .carousel-text-container ol li{
        width:90%;
        overflow-x: hidden;
    }

    .dreamart-accordion li{
        position: relative;
    }
    .dreamart-accordion li p i{
        position: absolute;
        right: 15px;
        top: 25px;
    }

    .carousel-depoimentos{
    padding-top:40px;
    margin-bottom:40px;
    }
}